// logo
nav.navbar {
    background-color: transparent;
    display: block;
    h1 {
        text-align: center;
        background-color: $secondary;
    }
}
// menu principal
.navbar-collapse {
    justify-content: center;
    
}
// Colonnes
.card-column {
    article {
        background-color: $secondary;
        color: white;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 30px;
        div.field-content {
            text-overflow: ellipsis;
            word-wrap: break-word;
        }
        .views-field-title {
            a {
                color: white;
                font-size: 1.5rem;
            }
        }
        .views-field-field-anglais {
            display: none;
        }
        // Au survol de l'article, la réponse apparaît
        &:hover {
            .views-field-field-anglais {
                display: block;
            }
        }
    }
    
}